{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}

    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword.first) }}
    {{ form_row(form.plainPassword.second) }}

    <button type="submit">S'inscrire</button>
    {{ form_end(form) }}

{% endblock %}